html , body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Login-Content{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 70vh;
  height: 35vh;
  justify-content: center;

}